{% extends 'base.html.twig' %}

{% block title %}{{ form.vars.value.code_hotel ? 'Modifier' : 'Nouveau' }} Hôtel{% endblock %}

{% block body %}
<h1>{{ form.vars.value.code_hotel ? 'Modifier' : 'Nouveau' }} Hôtel</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
