{% extends 'base.html.twig' %}

{% block title %}Recherche de Chambre{% endblock %}

{% block body %}
<h1>Recherche d'une chambre</h1>

<form method="get" action="{{ path('search_room') }}">

    <label for="date_debut">Date de début :</label>
    <input class="form-control" type="date" id="date_debut" name="date_debut" value="{{ date_debut ? date_debut|date('Y-m-d') : '' }}" required>

    

    <label for="date_fin">Date de fin :</label>
    <input class="form-control" type="date" id="date_fin" name="date_fin" value="{{ date_fin ? date_fin|date('Y-m-d') : '' }}" required>

    

    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>

{% if date_debut and date_fin %}
    <h2>Chambres disponibles du {{ date_debut|date('d/m/Y') }} au {{ date_fin|date('d/m/Y') }}</h2>

    {% if availableRooms is empty %}
        <p>Aucune chambre disponible pour cette période.</p>
    {% else %}
        <form method="post" action="{{ path('reserve_rooms') }}">
            <input type="hidden" name="date_debut" value="{{ date_debut|date('Y-m-d') }}">
            <input type="hidden" name="date_fin" value="{{ date_fin|date('Y-m-d') }}">
            <div class="accordion" id="accordionExample">
            {% for hotel, rooms in availableRooms %}
            <div class="accordion-item">
                <h2 class="accordion-header" >
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         Hotel: {{ hotel }}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <ul>
                    {% for room in rooms %}
                        <li>
                            <input type="checkbox" name="room_ids[]" value="{{ room.code_chambre }}">
                            Chambre {{ room.code_chambre }} - {{ room.type }} - {{ room.nombre_lit }} lits
                        </li>
                    {% endfor %}
                    </ul>
                    </div>
                </div>
                            </div>
            {% endfor %}
            </div>

            <label for="comment">Commentaire :</label>
            <textarea class="form-control" id="comment" name="comment"></textarea>
            <button class="btn btn-primary" type="submit">Réserver les chambres sélectionnées</button>
        </form>
    {% endif %}
{% endif %}
{% endblock %}